:root {
    --yellow: #ffbf00;
    --yellow-dark: #f2b601; 
    --white: #fff;
    --black: #000;
  }
  
  *{
    margin: 0;
    padding: 0;
  }
  
  html {
    font-family: sans-serif !important; 
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    min-height: 100vh;
  }
  
  .navbar-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img, h2 {
        width: 3%;
        padding: 10px 3%;
        color: black;
    }
  }
  
  .navbar{
    display: grid;
    grid-template-columns: auto auto;
  }
  
  .navbar-down {
    z-index: 1000;
    display: grid;
    list-style: none;
    background-color: black;
    justify-content: flex-start;
    gap: 3%;
    align-items: center;
    grid-template-columns: 14% 19% 17% 17%;
    grid-template-rows: 50px;
  }
  
  .navbar-buttons {
    display: grid;
    align-items: center;
    grid-template-columns: 20% 20%;
    gap: 30px;
    padding-right: 30px;
    justify-content: flex-end;
    background-color: rgb(0, 0, 0);
  }
  
  .menu-horizontal{
      list-style: none;
      display: flex;
      justify-content: space-around;
  }
  .menu-horizontal > li > a{
      display: block;
      color: white;
      text-decoration: none;
  }
  .menu-horizontal > li:hover{
      background-color: var(--yellow);
    transition: background-color 0.4s, color 0.4s, transform 0.3s;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 20px;
  }
  .menu-vertical{
      position: absolute;
      display: none;
      list-style: none;
      width: 190px;
      background-color: rgb(255, 255, 255);
  }
  
  .menu-horizontal li:hover .menu-vertical{
      display: block;
  }
  .menu-vertical li:hover{
      background-color: var(--yellow);
    color: black;
    transition: background-color 0.4s, color 0.4s, transform 0.3s;
  }
  
  .menu-vertical li a{
      display: block;
      color: black;
      text-decoration: none;
      padding: 15px 15px 15px 20px;
  }
  
  .container-fluid{
    width: 100%;
    padding: 2.5rem 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section-title{
    color: var(--yellow-dark);
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
  }
  
  .content-services {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  
  .banner {
    img {
      width: 100%;
    }
  }
  
  .services-grid {
    padding: 4% 16%;
    margin: -5px 0;
    background-color: #5f5f5f;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto;
    gap: 5%;
  }
  
  .services-text {
    color: var(--white);
    align-self: center;
    h1,p,.btn-content {
      padding: 20px 0;
    }
    p {
      font-size: 20px;
    }
  }
  
  .services-cards {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
  }
  
  .pre-owned-grid{
    padding-right: 8%;
    margin: 0;
    background-color: #504f4f;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto;
    gap: 3%;
  }
  
  .pre-owned-image {
    margin-bottom: -4px;
    img {
      width: 100%;
    }
  }
  
  .pre-owned-text{
    color: var(--white);
    align-self: center;
    h1,p,.btn-content {
      padding: 10px 0;
    }
    p {
      font-size: 20px;
      line-height: 1.4;
    }
  }
  
  .footer {
    padding: 1% 16%;
    margin: -5px 0;
    background-color: #a2a2a2;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    gap: 10%;
  }
  
  .column {
    h4{
      font-weight: 600;
      padding: 10% 0;
    }
  
    ul {
      list-style: none;
    }
  }
  
  /* btn-service */
  .btn-content{
    width: 35%;
  }
  
  .btn-service {
    background-color: var(--color-yellow);
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--color-white);
    border-radius: 15px;
    padding: 12px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    overflow-clip-margin: 0.5px;
    margin: 1px;
    transform: translateZ(0);
    transition: background-color 0.4s, color 0.4s, transform 0.3s;
    border: none;
  }
  
  .btn-service:hover {
    background-color: var(--color-yellow);
    color:var(--black);
    transform: scaleX(1.02);
    transition: transform 0.6s cubic-bezier(0.34, 5.56, 0.64, 1);
  }
  
  .btn-service:active {
    transform: scale(1.03);
  }
  
  .btn-service strong {
    overflow: hidden;
    display: block;
    line-height: 1;
    font-weight: 700;
  }
  
  .btn-service span {
    position: relative;
    z-index: 1;
    display: inline-block;
    top: 0;
    transition: transform 0.4s;
  }
  
  .btn-service:hover span {
    transform: translateY(-100%);
  }
  
  .btn-service span:after {
    color: var(--white);
    transition: all 0.3s;
    position: absolute;
    mix-blend-mode: difference;
    top: 100%;
    left: 0;
    content: attr(data-hover);
    transform: translateY(0);
  }
  
  .button-fill-service{
    background: var(--black);
    position: absolute;
    width: 150%;
    height: 210%;
    border-radius: 50%;
    top: -50%;
    left: -25%;
    transform: translate3d(0, 75%, 0);
    transition: none;
    transform-origin: top;
  }
  
  .btn-service:hover .button-fill-service {
    transform: translate3d(0, 0%, 0);
    transform: bottom;
    transition: transform 0.5s;
  }
  
  .btn-hover-off .button-fill-service {
    transform: translate3d(0, -75%, 0);
    transition: transform 0.4s;
  }