:root {
    --color-yellow: #f2ac09;
    --color-white: #ffffff;
  }
  
  .pd-l{
    padding-left: 20px;
  }
  
  .btn {
    background-color: var(--color-yellow);
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--color-white);
    border-radius: 999px;
    padding: 7px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    overflow-clip-margin: 0.5px;
    margin: 1px;
    transform: translateZ(0);
    transition: background-color 0.4s, color 0.4s, transform 0.3s;
    border: none;
  }
  
  .btn:hover {
    background-color: var(--color-yellow);
    color:var(--color-white);
    transform: scaleX(1.02);
    transition: transform 0.6s cubic-bezier(0.34, 5.56, 0.64, 1);
  }
  
  .btn:active {
    transform: scale(1.03);
  }
  
  .btn strong {
    overflow: hidden;
    display: block;
    line-height: 1;
    font-weight: 700;
  }
  
  .btn span {
    position: relative;
    z-index: 1;
    display: inline-block;
    top: 0;
    transition: transform 0.4s;
  }
  
  .btn:hover span {
    transform: translateY(-100%);
  }
  
  .btn span:after {
    color: var(--color-yellow);
    transition: all 0.3s;
    position: absolute;
    mix-blend-mode: difference;
    top: 100%;
    left: 0;
    content: attr(data-hover);
    transform: translateY(0);
  }
  
  /* Fill effect */
  .button-fill {
    background: var(--color-white);
    position: absolute;
    width: 150%;
    height: 210%;
    border-radius: 50%;
    top: -50%;
    left: -25%;
    transform: translate3d(0, 75%, 0);
    transition: none;
    transform-origin: top;
  }
  
  .btn:hover .button-fill {
    transform: translate3d(0, 0%, 0);
    transform: bottom;
    transition: transform 0.5s;
  }
  
  .btn-hover-off .button-fill {
    transform: translate3d(0, -75%, 0);
    transition: transform 0.4s;
  }